@import "../../../styles.scss";


.btnHome, .btnGallery, .btnAbout, .btnContact {
@include cormorant-garamond-medium (2.5rem);
border: none;
background-color: white;

}
.aboutContainer, .galleryContainer, .contactContainer, .homeContainer {

    width: 11rem;
    height: 5rem;
    text-align: center;
display: flex;
align-items: center;
}