@import '../../styles.scss';

.category-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; // Espaciado entre los elementos
    padding: 2rem;
    background-color: $soft-white;
  }