@import '../../../styles.scss';
.navbar {
    display: flex;
    gap: 5rem;
    margin-left: 12rem;
    
    
  
  
}
.navContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $dark-earth3;
    padding: 1rem;
    background-color: $dark-earth2;
    max-width: 1440px;
}
    
