@import '../../../styles.scss';
.navbar {
    display: flex;
    gap: 5rem;
    margin-left: 12rem;
    align-items: center;  // Asegura que todos los elementos estén centrados verticalmente
  }
  
  .navContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1440px;
    margin: auto;
  }
  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1440px;  /* Ancho máximo */
    margin: auto;       /* Centrar el navbar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra opcional */
  }
  
  .navbar {
    display: flex;
    align-items: center;
    gap: 3rem;  /* Ajusta el espacio entre botones */
  }