@import '../../styles.scss';

.imageGallery {
width: 100%;

}

.imageCard {

    width: 31rem;
   
   
}

.imgGallery {
    width: 25rem;
    border: 1rem solid $earth;
    border-radius: 1rem;
    margin: 1rem 0 0 1rem;
    
}
